[{:game "Super Mario World: Super Mario Advance 2",
  :meta-rating "92",
  :meta-user "9.0",
  :date "Feb 9, 2002"}
 {:game "Metroid Fusion",
  :meta-rating "92",
  :meta-user "9.1",
  :date "Nov 17, 2002"}
 {:game "Yoshi's Island: Super Mario Advance 3",
  :meta-rating "91",
  :meta-user "9.0",
  :date "Sep 24, 2002"}
 {:game "Tony Hawk's Pro Skater 3",
  :meta-rating "90",
  :meta-user "8.0",
  :date "Mar 4, 2002"}
 {:game "WarioWare, Inc.: Mega Microgame$!",
  :meta-rating "89",
  :meta-user "8.8",
  :date "May 21, 2003"}
 {:game "Sonic Advance",
  :meta-rating "87",
  :meta-user "8.2",
  :date "Feb 3, 2002"}
 {:game "Dave Mirra Freestyle BMX 2",
  :meta-rating "85",
  :meta-user "tbd",
  :date "Nov 25, 2001"}
 {:game "Super Mario Advance",
  :meta-rating "84",
  :meta-user "7.8",
  :date "Jun 10, 2001"}
 {:game "Spider-Man: Mysterio's Menace",
  :meta-rating "84",
  :meta-user "8.7",
  :date "Sep 19, 2001"}
 {:game "Puyo Pop",
  :meta-rating "84",
  :meta-user "6.6",
  :date "Feb 11, 2002"}
 {:game "Classic NES Series: The Legend of Zelda",
  :meta-rating "84",
  :meta-user "8.5",
  :date "Jun 2, 2004"}
 {:game "Gunstar Super Heroes",
  :meta-rating "83",
  :meta-user "8.5",
  :date "Oct 25, 2005"}
 {:game "Sonic Advance 2",
  :meta-rating "83",
  :meta-user "8.3",
  :date "Mar 9, 2003"}
 {:game "Pokemon Ruby Version",
  :meta-rating "82",
  :meta-user "8.7",
  :date "Mar 18, 2003"}
 {:game "Drill Dozer",
  :meta-rating "81",
  :meta-user "8.8",
  :date "Feb 6, 2006"}
 {:game "Mario Tennis: Power Tour",
  :meta-rating "81",
  :meta-user "8.0",
  :date "Dec 5, 2005"}
 {:game "Kirby: Nightmare in Dream Land",
  :meta-rating "81",
  :meta-user "8.9",
  :date "Dec 2, 2002"}
 {:game "Harvest Moon: Friends of Mineral Town",
  :meta-rating "81",
  :meta-user "9.5",
  :date "Nov 17, 2003"}
 {:game "Breath of Fire II",
  :meta-rating "81",
  :meta-user "8.1",
  :date "Apr 16, 2002"}
 {:game "Mega Man Battle Network 2",
  :meta-rating "81",
  :meta-user "7.6",
  :date "Jun 17, 2002"}
 {:game "Kirby & the Amazing Mirror",
  :meta-rating "80",
  :meta-user "8.9",
  :date "Oct 18, 2004"}
 {:game "The Pinball of the Dead",
  :meta-rating "79",
  :meta-user "tbd",
  :date "Jun 16, 2002"}
 {:game "Final Fantasy I & II: Dawn of Souls",
  :meta-rating "79",
  :meta-user "6.8",
  :date "Nov 29, 2004"}
 {:game "Summon Night: Swordcraft Story 2",
  :meta-rating "79",
  :meta-user "8.4",
  :date "Oct 17, 2006"}
 {:game "Super Dodge Ball Advance",
  :meta-rating "79",
  :meta-user "tbd",
  :date "Jun 10, 2001"}
 {:game "Sonic Advance 3",
  :meta-rating "79",
  :meta-user "8.6",
  :date "Jun 7, 2004"}
 {:game "Lunar Legend",
  :meta-rating "79",
  :meta-user "7.8",
  :date "Dec 8, 2002"}
 {:game "Mega Man Battle Network",
  :meta-rating "79",
  :meta-user "8.3",
  :date "Oct 30, 2001"}
 {:game "Dave Mirra Freestyle BMX 3",
  :meta-rating "78",
  :meta-user "tbd",
  :date "Nov 26, 2002"}
 {:game "Gradius Galaxies",
  :meta-rating "78",
  :meta-user "tbd",
  :date "Nov 12, 2001"}
 {:game "Super Ghouls 'n Ghosts",
  :meta-rating "78",
  :meta-user "8.4",
  :date "Sep 23, 2002"}
 {:game "Crash Bandicoot: The Huge Adventure",
  :meta-rating "78",
  :meta-user "7.7",
  :date "Feb 25, 2002"}
 {:game "Denki Blocks!",
  :meta-rating "77",
  :meta-user "tbd",
  :date "Oct 30, 2001"}
 {:game "Yggdra Union",
  :meta-rating "77",
  :meta-user "tbd",
  :date "Nov 21, 2006"}
 {:game "Mech Platoon",
  :meta-rating "77",
  :meta-user "tbd",
  :date "Jan 3, 2002"}
 {:game "Mega Man Battle Network 3 White",
  :meta-rating "77",
  :meta-user "8.5",
  :date "Jun 24, 2003"}
 {:game "Super Bust-A-Move",
  :meta-rating "77",
  :meta-user "tbd",
  :date "Nov 27, 2001"}
 {:game "The Lord of the Rings: The Return of the King",
  :meta-rating "77",
  :meta-user "8.2",
  :date "Nov 5, 2003"}
 {:game "Scurge: Hive",
  :meta-rating "76",
  :meta-user "8.6",
  :date "Oct 31, 2006"}
 {:game "Monster Rancher Advance",
  :meta-rating "76",
  :meta-user "tbd",
  :date "Nov 28, 2001"}
 {:game "Disney's Kim Possible 3: Team Possible",
  :meta-rating "76",
  :meta-user "7.7",
  :date "Aug 21, 2005"}
 {:game "Harry Potter and the Chamber of Secrets",
  :meta-rating "76",
  :meta-user "7.9",
  :date "Nov 14, 2002"}
 {:game "Pokemon Emerald Version",
  :meta-rating "76",
  :meta-user "8.8",
  :date "Apr 30, 2005"}
 {:game "Mary-Kate and Ashley: Girls Night Out",
  :meta-rating "75",
  :meta-user "tbd",
  :date "Mar 19, 2002"}
 {:game "River City Ransom EX",
  :meta-rating "75",
  :meta-user "8.4",
  :date "May 25, 2004"}
 {:game "Monster Truck Madness",
  :meta-rating "75",
  :meta-user "tbd",
  :date "Aug 11, 2003"}
 {:game "Bomberman Max 2: Blue Advance",
  :meta-rating "75",
  :meta-user "tbd",
  :date "May 30, 2002"}
 {:game "Double Dragon Advance",
  :meta-rating "75",
  :meta-user "8.4",
  :date "Nov 14, 2003"}
 {:game "Jet Grind Radio",
  :meta-rating "74",
  :meta-user "8.0",
  :date "Jun 26, 2003"}
 {:game "Shining Soul II",
  :meta-rating "74",
  :meta-user "8.3",
  :date "Apr 20, 2004"}
 {:game "Hot Potato!",
  :meta-rating "74",
  :meta-user "tbd",
  :date "Jul 1, 2001"}
 {:game "Frogger's Adventures: Temple of the Frog",
  :meta-rating "73",
  :meta-user "7.8",
  :date "Nov 24, 2001"}
 {:game "Driver 2 Advance",
  :meta-rating "73",
  :meta-user "6.6",
  :date "Oct 22, 2002"}
 {:game "Need for Speed Underground 2",
  :meta-rating "72",
  :meta-user "8.2",
  :date "Nov 15, 2004"}
 {:game "Kelly Slater's Pro Surfer",
  :meta-rating "72",
  :meta-user "tbd",
  :date "Aug 21, 2002"}
 {:game "Lemony Snicket's A Series of Unfortunate Events",
  :meta-rating "72",
  :meta-user "8.0",
  :date "Nov 10, 2004"}
 {:game "Justice League Heroes: The Flash",
  :meta-rating "72",
  :meta-user "7.4",
  :date "Oct 17, 2006"}
 {:game "Ballistic: Ecks vs. Sever II",
  :meta-rating "72",
  :meta-user "4.8",
  :date "Sep 14, 2002"}
 {:game "Hamtaro: Ham Ham Heartbreak",
  :meta-rating "72",
  :meta-user "8.8",
  :date "Apr 8, 2003"}
 {:game "Defender of the Crown",
  :meta-rating "72",
  :meta-user "4.0",
  :date "Oct 7, 2002"}
 {:game "The Scorpion King: Sword of Osiris",
  :meta-rating "72",
  :meta-user "tbd",
  :date "Mar 31, 2002"}
 {:game "The Urbz: Sims in the City",
  :meta-rating "72",
  :meta-user "8.9",
  :date "Nov 9, 2004"}
 {:game "CT Special Forces",
  :meta-rating "71",
  :meta-user "tbd",
  :date "Jan 4, 2004"}
 {:game "Harry Potter and the Goblet of Fire",
  :meta-rating "71",
  :meta-user "6.0",
  :date "Nov 8, 2005"}
 {:game "ZooCube",
  :meta-rating "71",
  :meta-user "tbd",
  :date "May 14, 2002"}
 {:game "AirForce Delta Storm",
  :meta-rating "71",
  :meta-user "tbd",
  :date "Sep 16, 2002"}
 {:game "Zone of the Enders: The Fist of Mars",
  :meta-rating "71",
  :meta-user "8.4",
  :date "Mar 3, 2002"}
 {:game "Eragon",
  :meta-rating "70",
  :meta-user "7.0",
  :date "Nov 14, 2006"}
 {:game "Ultimate Muscle: The Kinnikuman Legacy - The Path of the Superhero",
  :meta-rating "70",
  :meta-user "8.1",
  :date "Jun 5, 2003"}
 {:game "DK: King of Swing",
  :meta-rating "70",
  :meta-user "5.0",
  :date "Sep 19, 2005"}
 {:game "Sega Arcade Gallery",
  :meta-rating "70",
  :meta-user "tbd",
  :date "May 21, 2003"}
 {:game "Disney's Extreme Skate Adventure",
  :meta-rating "70",
  :meta-user "tbd",
  :date "Sep 3, 2003"}
 {:game "ESPN Final Round Golf 2002",
  :meta-rating "70",
  :meta-user "tbd",
  :date "Aug 28, 2001"}
 {:game "Mega Man Zero 2",
  :meta-rating "81",
  :meta-user "8.6",
  :date "Oct 14, 2003"}
 {:game "Golden Sun: The Lost Age",
  :meta-rating "86",
  :meta-user "9.2",
  :date "Apr 14, 2003"}
 {:game "Advance Wars 2: Black Hole Rising",
  :meta-rating "89",
  :meta-user "9.3",
  :date "Jun 24, 2003"}]
