["The Legend of Zelda: A Link to the Past 95 User: 9.0 Dec 3, 2002"
"Tony Hawk's Pro Skater 2 95 User: 6.7 May 30, 2001"
"Super Mario Advance 4: Super Mario Bros. 3 94 User: 9.1 Oct 21, 2003"
"Mario Kart Super Circuit 93 User: 8.2 Aug 26, 2001"
"Advance Wars 92 User: 9.0 Sep 9, 2001"
"Super Mario World: Super Mario Advance 2 92 User: 9.0 Feb 9, 2002"
"Metroid Fusion 92 User: 9.1 Nov 17, 2002"
"Final Fantasy VI Advance 92 User: 8.5 Feb 5, 2007"
"Yoshi's Island: Super Mario Advance 3 91 User: 9.0 Sep 24, 2002"
"Castlevania: Aria of Sorrow 91 User: 8.9 May 6, 2003"
"Golden Sun 91 User: 9.1 Nov 11, 2001"
"Castlevania: Circle of the Moon 91 User: 8.6 Jun 10, 2001"
"Mario & Luigi: Superstar Saga 90 User: 9.0 Nov 17, 2003"
"Tony Hawk's Pro Skater 3 90 User: 8.0 Mar 4, 2002"
"Metroid: Zero Mission 89 User: 8.9 Feb 9, 2004"
"The Legend of Zelda: The Minish Cap 89 User: 9.0 Jan 10, 2005"
"Advance Wars 2: Black Hole Rising 89 User: 9.3 Jun 24, 2003"
"WarioWare, Inc.: Mega Microgame$! 89 User: 8.8 May 21, 2003"
"Tactics Ogre: The Knight of Lodis 88 User: 9.1 May 11, 2002"
"Wario Land 4 88 User: 8.6 Nov 18, 2001"
"WarioWare: Twisted! 88 User: 8.9 May 23, 2005"
"Fire Emblem 88 User: 9.2 Nov 3, 2003"
"Castlevania: Harmony of Dissonance 87 User: 8.0 Sep 16, 2002"
"Final Fantasy Tactics Advance 87 User: 7.8 Sep 8, 2003"
"Sonic Advance 87 User: 8.2 Feb 3, 2002"
"Golden Sun: The Lost Age 86 User: 9.2 Apr 14, 2003"
"Tony Hawk's Underground 86 User: 7.7 Oct 27, 2003"
"Castlevania Double Pack 86 User: 8.4 Jan 11, 2006"
"F-Zero: Maximum Velocity 86 User: 8.4 Jun 12, 2001"
"Astro Boy: Omega Factor 85 User: 8.8 Aug 18, 2004"
"Fire Emblem: The Sacred Stones 85 User: 9.1 May 23, 2005"
"Tony Hawk's Pro Skater 4 85 User: 8.8 Oct 28, 2002"
"Final Fantasy IV Advance 85 User: 7.4 Dec 12, 2005"
"Dave Mirra Freestyle BMX 2 85 User: tbd Nov 25, 2001"
"Mario Golf: Advance Tour 84 User: 8.6 Jun 22, 2004"
"Super Street Fighter II: Turbo Revival 84 User: 7.6 Oct 30, 2001"
"Super Mario Advance 84 User: 7.8 Jun 10, 2001"
"Spider-Man: Mysterio's Menace 84 User: 8.7 Sep 19, 2001"
"Classic NES Series: Super Mario Bros. 84 User: 8.6 Jun 2, 2004"
"Rayman Advance 84 User: 8.3 Jun 10, 2001"
"Puyo Pop 84 User: 6.6 Feb 11, 2002"
"Classic NES Series: The Legend of Zelda 84 User: 8.5 Jun 2, 2004"
"ChuChu Rocket! 84 User: 8.4 Jun 10, 2001"
"Virtua Tennis 83 User: tbd Oct 8, 2002"
"Racing Gears Advance 83 User: 8.0 Feb 8, 2005"
"Street Fighter Alpha 3 83 User: 7.7 Dec 1, 2002"
"Super Puzzle Fighter II 83 User: 7.6 Mar 31, 2003"
"Gunstar Super Heroes 83 User: 8.5 Oct 25, 2005"
"Sonic Advance 2 83 User: 8.3 Mar 9, 2003"
"Rayman 3 83 User: 7.8 Mar 2, 2003"
"Final Fantasy V Advance 83 User: 7.3 Nov 6, 2006"
"Boktai: The Sun Is in Your Hand 83 User: 9.0 Sep 16, 2003"
"Super Robot Taisen: Original Generation 2 82 User: 8.1 Nov 14, 2006"
"Pokemon Ruby Version 82 User: 8.7 Mar 18, 2003"
"Super Monkey Ball Jr. 82 User: 8.6 Nov 19, 2002"
"Mega Man Zero 82 User: 8.9 Sep 9, 2002"
"Bruce Lee: Return of the Legend 82 User: 7.2 Mar 28, 2003"
"Tekken Advance 82 User: 8.0 Jan 28, 2002"
"Harvest Moon: More Friends of Mineral Town 82 User: 8.9 Jul 26, 2005"
"Mat Hoffman's Pro BMX 2 82 User: tbd Aug 13, 2002"
"Final Fight One 82 User: 7.8 Sep 26, 2001"
"Ninja Five-O 82 User: 8.2 Apr 22, 2003"
"Doom 81 User: 8.5 Oct 28, 2001"
"Drill Dozer 81 User: 8.8 Feb 6, 2006"
"Duke Nukem Advance 81 User: 8.4 Aug 12, 2002"
"Mega Man Zero 2 81 User: 8.6 Oct 14, 2003"
"Mario Tennis: Power Tour 81 User: 8.0 Dec 5, 2005"
"Karnaaj Rally 81 User: 7.6 Jan 2, 2003"
"Yu-Gi-Oh! The Eternal Duelist Soul 81 User: 8.8 Oct 15, 2002"
"Kirby: Nightmare in Dream Land 81 User: 8.9 Dec 2, 2002"
"Mario vs. Donkey Kong 81 User: 8.0 May 24, 2004"
"Mortal Kombat: Deadly Alliance 81 User: 8.1 Nov 20, 2002"
"Pokemon Pinball: Ruby & Sapphire 81 User: 7.9 Aug 26, 2003"
"Pokemon FireRed Version 81 User: 8.7 Sep 7, 2004"
"Pokemon LeafGreen Version 81 User: 8.6 Sep 7, 2004"
"Harvest Moon: Friends of Mineral Town 81 User: 9.5 Nov 17, 2003"
"Breath of Fire II 81 User: 8.1 Apr 16, 2002"
"Mega Man Battle Network 2 81 User: 7.6 Jun 17, 2002"
"Ecks vs. Sever 80 User: 8.0 Nov 27, 2001"
"The Legend of Spyro: The Eternal Night 80 User: 8.1 Oct 2, 2007"
"Broken Sword: The Shadow of the Templars 80 User: 8.3 Mar 17, 2002"
"TMNT 80 User: 6.1 Mar 20, 2007"
"The King of Fighters EX2: Howling Blood 80 User: 8.5 Dec 11, 2003"
"Disney's Lilo & Stitch 80 User: 7.8 Jun 7, 2002"
"Ultimate Brain Games 80 User: 8.3 Mar 18, 2003"
"Donkey Kong Country 2 80 User: 8.9 Nov 15, 2004"
"Rock 'N Roll Racing 80 User: 8.1 Jun 23, 2003"
"Medal of Honor Infiltrator 80 User: 7.2 Nov 17, 2003"
"Kirby & the Amazing Mirror 80 User: 8.9 Oct 18, 2004"
"The Pinball of the Dead 79 User: tbd Jun 16, 2002"
"Pac-Man Collection 79 User: 7.8 Jul 12, 2001"
"Final Fantasy I & II: Dawn of Souls 79 User: 6.8 Nov 29, 2004"
"Boulder Dash EX 79 User: tbd Sep 16, 2002"
"Tak and the Power of Juju 79 User: 8.3 Oct 15, 2003"
"Activision Anthology 79 User: tbd Dec 9, 2003"
"Mega Man & Bass 79 User: 8.6 Mar 10, 2003"
"Namco Museum 79 User: 7.3 Jun 10, 2001"
"Monster Rancher Advance 2 79 User: 8.6 Nov 17, 2002"
"Metal Slug Advance 79 User: 8.3 Dec 2, 2004"
"Summon Night: Swordcraft Story 2 79 User: 8.4 Oct 17, 2006"
"Super Dodge Ball Advance 79 User: tbd Jun 10, 2001"
"Sonic Advance 3 79 User: 8.6 Jun 7, 2004"
"Breath of Fire 79 User: 7.9 Dec 13, 2001"
"Lunar Legend 79 User: 7.8 Dec 8, 2002"
"Mega Man Battle Network 79 User: 8.3 Oct 30, 2001"
"Dave Mirra Freestyle BMX 3 78 User: tbd Nov 26, 2002"
"Klonoa 2: Dream Champ Tournament 78 User: 8.8 Feb 23, 2005"
"Gradius Galaxies 78 User: tbd Nov 12, 2001"
"Konami Collector's Series: Arcade Advanced 78 User: tbd Mar 21, 2002"
"NickToons Racing 78 User: tbd Jun 14, 2002"
"Donkey Kong Country 78 User: 8.9 Jun 9, 2003"
"Super Ghouls 'n Ghosts 78 User: 8.4 Sep 23, 2002"
"Max Payne 78 User: 8.1 Dec 18, 2003"
"Rebelstar: Tactical Command 78 User: 8.8 Sep 6, 2005"
"Konami Krazy Racers 78 User: tbd Jun 10, 2001"
"Road Rash: Jailbreak 78 User: 8.6 Sep 17, 2003"
"Iridion II 78 User: 8.3 May 29, 2003"
"Boktai 2: Solar Boy Django 78 User: 8.0 Oct 19, 2004"
"Crash Bandicoot: The Huge Adventure 78 User: 7.7 Feb 25, 2002"
"Denki Blocks! 77 User: tbd Oct 30, 2001"
"Hamtaro: Ham-Ham Games 77 User: 8.1 Jul 27, 2004"
"Mega Man Zero 3 77 User: 8.0 Oct 5, 2004"
"Car Battler Joe 77 User: tbd Oct 21, 2002"
"Stuntman 77 User: tbd Jun 24, 2003"
"Yggdra Union 77 User: tbd Nov 21, 2006"
"Crash Nitro Kart 77 User: 8.3 Nov 11, 2003"
"Mega Man Zero 4 77 User: 8.9 Oct 4, 2005"
"F-Zero GP Legend 77 User: 8.3 Sep 20, 2004"
"Donkey Kong Country 3 77 User: 8.5 Nov 7, 2005"
"Summon Night: Swordcraft Story 77 User: 8.1 Jul 26, 2006"
"Mech Platoon 77 User: tbd Jan 3, 2002"
"Mega Man Battle Network 3 White 77 User: 8.5 Jun 24, 2003"
"Shining Force: Resurrection of the Dark Dragon 77 User: 8.9 Jun 8, 2004"
"Doom II 77 User: 8.6 Oct 28, 2002"
"Tom Clancy's Splinter Cell 77 User: 8.6 Apr 27, 2003"
"Disney's Kim Possible 2: Drakken's Demise 77 User: tbd Sep 15, 2004"
"Super Bust-A-Move 77 User: tbd Nov 27, 2001"
"Sonic Pinball Party 77 User: 8.4 Jun 1, 2003"
"The Lord of the Rings: The Return of the King 77 User: 8.2 Nov 5, 2003"
"Need for Speed Underground 77 User: 8.2 Dec 18, 2003"
"Tom Clancy's Rainbow Six: Rogue Spear 76 User: tbd Mar 18, 2002"
"Scurge: Hive 76 User: 8.6 Oct 31, 2006"
"CT Special Forces 2: Back in the Trenches 76 User: tbd Jun 29, 2004"
"Tales of Phantasia 76 User: 8.0 Mar 6, 2006"
"Monster Rancher Advance 76 User: tbd Nov 28, 2001"
"Riviera: The Promised Land 76 User: 8.5 Jun 28, 2005"
"Spyro 2: Season of Flame 76 User: 7.6 Sep 25, 2002"
"Disney's Kim Possible 3: Team Possible 76 User: 7.7 Aug 21, 2005"
"Phantasy Star Collection 76 User: 8.1 Nov 24, 2002"
"Kingdom Hearts: Chain of Memories 76 User: 7.9 Dec 7, 2004"
"Baldur's Gate: Dark Alliance 76 User: 6.8 Feb 10, 2004"
"One Piece 76 User: 7.9 Sep 7, 2005"
"Harry Potter and the Chamber of Secrets 76 User: 7.9 Nov 14, 2002"
"Pokemon Emerald Version 76 User: 8.8 Apr 30, 2005"
"Lufia: The Ruins of Lore 76 User: 8.3 May 6, 2003"
"Uno / Skip-Bo 75 User: tbd Oct 2, 2006"
"Atari Anniversary Advance 75 User: tbd Mar 25, 2002"
"Muppet Pinball Mayhem 75 User: tbd May 29, 2002"
"Sabre Wulf 75 User: 8.0 Jun 9, 2004"
"Frogger's Adventures 2: The Lost Wand 75 User: tbd Nov 5, 2002"
"Dragon Ball Z: The Legacy of Goku II 75 User: 8.5 Jun 17, 2003"
"Egg Mania 75 User: tbd Sep 16, 2002"
"Mary-Kate and Ashley: Girls Night Out 75 User: tbd Mar 19, 2002"
"Tiger Woods PGA Tour 2004 75 User: 7.5 Nov 4, 2003"
"Lego Star Wars 75 User: 8.6 Mar 29, 2005"
"Jackie Chan Adventures 75 User: 8.0 Nov 6, 2001"
"Bomberman Max 2: Red Advance 75 User: tbd May 30, 2002"
"River City Ransom EX 75 User: 8.4 May 25, 2004"
"Monster Truck Madness 75 User: tbd Aug 11, 2003"
"The Lost Vikings 75 User: 8.8 Mar 30, 2003"
"Aggressive Inline 75 User: tbd Aug 27, 2002"
"Worms World Party 75 User: tbd Oct 29, 2002"
"Bomberman Max 2: Blue Advance 75 User: tbd May 30, 2002"
"Crash Bandicoot 2: N-Tranced 75 User: 7.7 Jan 7, 2003"
"Mortal Kombat: Tournament Edition 75 User: 8.1 Aug 27, 2003"
"Dragon Ball: Advanced Adventure 75 User: 8.5 Jun 6, 2006"
"Double Dragon Advance 75 User: 8.4 Nov 14, 2003"
"Prince of Persia: The Sands of Time 75 User: 8.8 Oct 30, 2003"
"Dr. Mario / Puzzle League 74 User: 7.8 Nov 28, 2005"
"Classic NES Series: Castlevania 74 User: 8.6 Oct 25, 2004"
"Jet Grind Radio 74 User: 8.0 Jun 26, 2003"
"Shining Soul II 74 User: 8.3 Apr 20, 2004"
"Spyro: Season of Ice 74 User: 8.0 Oct 29, 2001"
"Hot Potato! 74 User: tbd Jul 1, 2001"
"James Bond 007: Everything or Nothing 73 User: 8.3 Nov 17, 2003"
"Frogger's Adventures: Temple of the Frog 73 User: 7.8 Nov 24, 2001"
"Lady Sia 73 User: tbd Oct 15, 2001"
"Driver 2 Advance 73 User: 6.6 Oct 22, 2002"
"Ty the Tasmanian Tiger 3: Night of the Quinkan 73 User: tbd Nov 1, 2005"
"Blender Bros. 73 User: tbd Apr 15, 2002"
"It's Mr. Pants 73 User: tbd Nov 15, 2005"
"Star Wars Episode III: Revenge of the Sith 73 User: 7.6 May 4, 2005"
"LarryBoy and the Bad Apple 73 User: tbd Aug 8, 2006"
"Dragon Ball Z: Supersonic Warriors 73 User: 7.0 Jun 22, 2004"
"Yu-Gi-Oh! Ultimate Masters: World Championship Tournament 2006 73 User: 7.6 Mar 14, 2006"
"Drome Racers 73 User: tbd Jun 19, 2003"
"Classic NES Series: Zelda II: The Adventure of Link 73 User: 7.6 Oct 25, 2004"
"X2: Wolverine's Revenge 72 User: 7.2 Apr 15, 2003"
"Need for Speed Underground 2 72 User: 8.2 Nov 15, 2004"
"Kelly Slater's Pro Surfer 72 User: tbd Aug 21, 2002"
"Lemony Snicket's A Series of Unfortunate Events 72 User: 8.0 Nov 10, 2004"
"Sword of Mana 72 User: 8.3 Dec 1, 2003"
"Shrek 2 72 User: 7.0 Apr 28, 2004"
"Shaman King: Master of Spirits 2 72 User: 8.3 Aug 2, 2005"
"Yu-Gi-Oh! Worldwide Edition: Stairway to the Destined Duel 72 User: 8.8 Apr 8, 2003"
"Noddy: A Day in Toyland 72 User: tbd Oct 16, 2006"
"Justice League Heroes: The Flash 72 User: 7.4 Oct 17, 2006"
"Ballistic: Ecks vs. Sever II 72 User: 4.8 Sep 14, 2002"
"Hamtaro: Ham Ham Heartbreak 72 User: 8.8 Apr 8, 2003"
"Banjo-Kazooie: Grunty's Revenge 72 User: 7.9 Sep 10, 2003"
"Super Robot Taisen: Original Generation 72 User: 7.8 Aug 8, 2006"
"Earthworm Jim 72 User: 5.7 Jun 10, 2001"
"Defender of the Crown 72 User: 4.0 Oct 7, 2002"
"Wings 72 User: tbd Feb 13, 2003"
"The Scorpion King: Sword of Osiris 72 User: tbd Mar 31, 2002"
"Spyro: Attack of the Rhynocs 72 User: 7.5 Oct 27, 2003"
"The Urbz: Sims in the City 72 User: 8.9 Nov 9, 2004"
"Turok: Evolution 72 User: 7.0 Aug 26, 2002"
"The Mummy 72 User: tbd Nov 20, 2002"
"Aero the Acro-bat 71 User: tbd May 14, 2002"
"SpongeBob SquarePants: Revenge of the Flying Dutchman 71 User: 7.7 Sep 10, 2002"
"Tim Burton's The Nightmare Before Christmas: The Pumpkin King 71 User: 5.5 Oct 10, 2005"
"CT Special Forces 71 User: tbd Jan 4, 2004"
"Harry Potter and the Goblet of Fire 71 User: 6.0 Nov 8, 2005"
"ZooCube 71 User: tbd May 14, 2002"
"Disney's Chicken Little 71 User: tbd Oct 20, 2005"
"Shrek: Hassle at the Castle 71 User: 7.4 Oct 10, 2002"
"Madagascar 71 User: tbd May 23, 2005"
"Phalanx 71 User: tbd Dec 27, 2001"
"Secret Agent Barbie: Royal Jewels Mission 71 User: tbd Oct 8, 2002"
"Hi Hi Puffy AmiYumi: Kaznapped! 71 User: 5.4 Nov 20, 2005"
"Game & Watch Gallery 4 71 User: 8.1 Oct 28, 2002"
"Rampage Puzzle Attack 71 User: tbd Nov 29, 2001"
"AirForce Delta Storm 71 User: tbd Sep 16, 2002"
"Mat Hoffman's Pro BMX 71 User: tbd Nov 19, 2001"
"Zone of the Enders: The Fist of Mars 71 User: 8.4 Mar 3, 2002"
"Teenage Mutant Ninja Turtles 71 User: 8.9 Oct 31, 2003"
"Eragon 70 User: 7.0 Nov 14, 2006"
"Ultimate Muscle: The Kinnikuman Legacy - The Path of the Superhero 70 User: 8.1 Jun 5, 2003"
"Contra Advance: The Alien Wars EX 70 User: tbd Nov 3, 2002"
"Turbo Turtle Adventure 70 User: tbd Sep 14, 2002"
"Wing Commander: Prophecy 70 User: 8.3 Jun 4, 2003"
"Dokapon: Monster Hunter 70 User: 7.0 Oct 30, 2001"
"Pirates of the Caribbean: Dead Man's Chest 70 User: 6.0 Jun 27, 2006"
"DK: King of Swing 70 User: 5.0 Sep 19, 2005"
"Gekido Advance: Kintaro's Revenge 70 User: 7.0 Nov 25, 2003"
"Sega Arcade Gallery 70 User: tbd May 21, 2003"
"Tony Hawk's Underground 2 70 User: tbd Oct 4, 2004"
"Columns Crown 70 User: tbd Feb 4, 2002"
"Disney's Extreme Skate Adventure 70 User: tbd Sep 3, 2003"
"ESPN Final Round Golf 2002 70 User: tbd Aug 28, 2001"
"Silent Scope 70 User: 8.0 Sep 4, 2002"
"CIMA: The Enemy 70 User: tbd Nov 17, 2003"
"Gem Smashers 70 User: 8.6 Jul 1, 2003"
"Disney's Magical Quest 70 User: tbd Aug 13, 2002"]
