[{:game "The Legend of Zelda: The Minish Cap",
  :rating 4,
  :meta-rating "89",
  :meta-user "9.0",
  :date "Jan 10, 2005"}
 {:game "Game & Watch Gallery 4",
  :rating 2,
  :meta-rating "71",
  :meta-user "8.1",
  :date "Oct 28, 2002"}
 {:game
  "Yu-Gi-Oh! Ultimate Masters: World Championship Tournament 2006",
  :rating 2,
  :meta-rating "73",
  :meta-user "7.6",
  :date "Mar 14, 2006"}
 {:game "Spyro: Season of Ice",
  :rating 3,
  :meta-rating "74",
  :meta-user "8.0",
  :date "Oct 29, 2001"}
 {:game "Teenage Mutant Ninja Turtles",
  :rating 3,
  :meta-rating "71",
  :meta-user "8.9",
  :date "Oct 31, 2003"}
 {:game "Boulder Dash EX",
  :rating 3,
  :meta-rating "79",
  :meta-user "tbd",
  :date "Sep 16, 2002"}
 {:game "Yu-Gi-Oh! The Eternal Duelist Soul",
  :rating 2,
  :meta-rating "81",
  :meta-user "8.8",
  :date "Oct 15, 2002"}
 {:game "Riviera: The Promised Land",
  :rating 3,
  :meta-rating "76",
  :meta-user "8.5",
  :date "Jun 28, 2005"}
 {:game "Boktai: The Sun Is in Your Hand",
  :rating 4,
  :meta-rating "83",
  :meta-user "9.0",
  :date "Sep 16, 2003"}
 {:game "Need for Speed Underground",
  :rating 1,
  :meta-rating "77",
  :meta-user "8.2",
  :date "Dec 18, 2003"}
 {:game "CIMA: The Enemy",
  :rating 1,
  :meta-rating "70",
  :meta-user "tbd",
  :date "Nov 17, 2003"}
 {:game "Mario & Luigi: Superstar Saga",
  :rating 5,
  :meta-rating "90",
  :meta-user "9.0",
  :date "Nov 17, 2003"}
 {:game "Lego Star Wars",
  :rating 2,
  :meta-rating "75",
  :meta-user "8.6",
  :date "Mar 29, 2005"}
 {:game "Metal Slug Advance",
  :rating 3,
  :meta-rating "79",
  :meta-user "8.3",
  :date "Dec 2, 2004"}
 {:game "Mega Man Zero 4",
  :rating 3,
  :meta-rating "77",
  :meta-user "8.9",
  :date "Oct 4, 2005"}
 {:game "Egg Mania",
  :rating 3,
  :meta-rating "75",
  :meta-user "tbd",
  :date "Sep 16, 2002"}
 {:game "Jackie Chan Adventures",
  :rating 2,
  :meta-rating "75",
  :meta-user "8.0",
  :date "Nov 6, 2001"}
 {:game "Final Fantasy V Advance",
  :rating :na,
  :meta-rating "83",
  :meta-user "7.3",
  :date "Nov 6, 2006"}]
