[{:game
  "The Legend of Zelda: The Minish Cap 89 User: 9.0 Jan 10, 2005",
  :rating 4}
 {:game "Game & Watch Gallery 4 71 User: 8.1 Oct 28, 2002", :rating 2}
 {:game
  "Yu-Gi-Oh! Ultimate Masters: World Championship Tournament 2006 73 User: 7.6 Mar 14, 2006",
  :rating 2}
 {:game "Spyro: Season of Ice 74 User: 8.0 Oct 29, 2001", :rating 3}
 {:game "Teenage Mutant Ninja Turtles 71 User: 8.9 Oct 31, 2003",
  :rating 3}
 {:game "Boulder Dash EX 79 User: tbd Sep 16, 2002", :rating 3}
 {:game "Yu-Gi-Oh! The Eternal Duelist Soul 81 User: 8.8 Oct 15, 2002",
  :rating 2}
 {:game "Riviera: The Promised Land 76 User: 8.5 Jun 28, 2005",
  :rating 3}
 {:game "Boktai: The Sun Is in Your Hand 83 User: 9.0 Sep 16, 2003",
  :rating 4}
 {:game "Need for Speed Underground 77 User: 8.2 Dec 18, 2003",
  :rating 1}
 {:game "CIMA: The Enemy 70 User: tbd Nov 17, 2003", :rating 1}
 {:game "Mario & Luigi: Superstar Saga 90 User: 9.0 Nov 17, 2003",
  :rating 5}
 {:game "Lego Star Wars 75 User: 8.6 Mar 29, 2005", :rating 2}
 {:game "Metal Slug Advance 79 User: 8.3 Dec 2, 2004", :rating 3}
 {:game "Mega Man Zero 4 77 User: 8.9 Oct 4, 2005", :rating 3}
 {:game "Egg Mania 75 User: tbd Sep 16, 2002", :rating 3}
 {:game "Jackie Chan Adventures 75 User: 8.0 Nov 6, 2001", :rating 2}
 {:game "Final Fantasy V Advance 83 User: 7.3 Nov 6, 2006",
  :rating :na}]
