<!DOCTYPE html>
<html>
  <head>
    <title>About</title>

    <link rel="stylesheet" href="../styles.css" />
  </head>
  
  <body>

    {% include "templates/header.html" %}

    <div class="actual-body">
      <div class="sidebar">
      </div>

      <div class="content">
	<h3>About</h3>
	This is a challenge where I play a big list of the best Nintendo DS games in a random order. I've already done this for <a href="https://mechtoast.com/player-255/">GBA games.</a>
	</div>
	
      <div class="sidebar">
      </div>

    </div>
    
    {% include "templates/footer.html" %}
      
  </body>
</html>
