
	  <a class="games-list-row" href="{{game.shortname | escape}}.html">
	    <img class="games-list-col-title-image-ds" src="../images/screenshots/ds/{{game.shortname | escape}}-title.png">
	    <h3 class="games-list-col-title">{{game.game | escape}}</h3>
	    <div class="games-list-col-completion"> <img class="completion-image" src="../images/{% if game.status %}{{game.status|name}}{% else %}other{% endif %}.png" /> {{game.completion_date}} </div>
	    <div class="games-list-col-score"> {{game.rating}} / 5 </div>
	  </a>
	  
