<!DOCTYPE html>
<html>
  <head>
    <title>{{game}}</title>

    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>

    {% include "templates/header.html" %}

    <div class="actual-body">
      <div class="sidebar">
	{% if prev %}
	<a class="side-button" href="{{prev}}.html">Previous</a>
	<a class="side-button" href="{{prev}}.html">Previous</a>
	{% endif %}
      </div>

      <div class="content">

    <h1>{{game}}</h1>

    <div class="data">
      <ul>
	<li><img class="completion-image" src="images/{{status|name}}.png" /><p>{{status|status}}{% if status-note %}({{status-note}}){% endif %} on {{completion-date}}</p></li>
	<li><p>{{rating}} / 5</p></li>
      </ul>
      <ul>
	<li><p><b>Release Date:</b> {{date}}</p></li>
	<li><p><b>Meta Score:</b> {{meta-rating}}</p></li>
      </ul>
    </div>

    <h3>Screenshots</h3>
    <div class="screenshot-gallery">
      <img class="screenshot" src="images/screenshots/{{shortname}}-title.png" />
      {% for screenshot in screenshots|remove-title-credits %}
      <img class="screenshot" src="images/screenshots/{{screenshot}}" />
      {% endfor %}
      {% if screenshots|has-credits? %}
      <img class="screenshot" src="images/screenshots/{{shortname}}-credits.png" />
      {% endif %}
    </div>
    
    <h3>Notes</h3>
    {{notes|linebreaks|safe}}

      </div>

      <div class="sidebar">
	{% if next %}
	<a class="side-button" href="{{next}}.html">Next</a>
	<a class="side-button" href="{{next}}.html">Next</a>
	{% endif %}
      </div>

    </div>
    
    {% include "templates/footer.html" %}
    
  </body>
</html>
