<!DOCTYPE html>
<html>
  <head>
    <title>Player 255</title>

    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>

    {% include "templates/header.html" %}

    <div class="actual-body">
      <div class="sidebar">
      </div>

      <div class="content">

	<div class="progress">
	<div class="progress-bar">
	  <div class="progress-bar-fill" style="width: {{percent}}%;"></div>
	</div>
	<p>{{count}}/255</p>
	</div>

	<div class="now-playing"><p>Now Playing: <b>{{next_up.game}}</b></p></div>

	<h3>Recent Games</h3>
    
	<div class="games-list">
	  {% for game in recent_games %}
	  {% include "templates/games-list.html" %}
	  {% endfor %}
	</div>

      </div>

      <div class="sidebar">
      </div>

    </div>
    
    {% include "templates/footer.html" %}
      
  </body>
</html>
