<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>

    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>

    {% include "templates/header.html" %}

    <div class="actual-body">
      <div class="sidebar">
      </div>

      <div class="content">

	<h3>Played Games</h3>
    
	<div class="games-list">
	  {% for game in played_games %}
	  {% include "templates/games-list.html" %}
	  {% endfor %}
	</div>

	<h3>Now Playing</h3>
	<div class="games-list-row">
	    <div class="games-list-col-shadow-title-image"></div>
	    <h3 class="games-list-col-title">{{playing | escape}}</h3>
	</div>

	<h3>Upcoming Games</h3>

	<p>Note: These will be played in random order.</p>
    
	<div class="games-list">
	  {% for game in remaining_games %}
	  <div class="games-list-row">
	    <div class="games-list-col-shadow-title-image"></div>
	    <h3 class="games-list-col-title">{{game.game | escape}}</h3>
	  </div>
	  {% endfor %}
	</div>

      </div>

      <div class="sidebar">
      </div>

    </div>
    
    {% include "templates/footer.html" %}

  </body>
</html>
